@page
@model IndexModel


<div class="container-fluid">
    <div class="row">
        <div class="card col-sm-6 col-md-6 col-lg-6">
            <img src="~/images/halloween.jpg" class="img-responsive" />
        </div>
        <div class="entry col-sm-6 col-md-6 col-lg-6">
                   
                @Html.Partial("_Preview")
          
        </div>
    </div>
</div>




@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/js/ww-form-character-countdown.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
}

