body {
    background: #000 url("/images/forest.jpg") no-repeat center top;
    background-size: cover;
}

.form-header {
    font-family: 'Nosifer', cursive;
    font-size: 16px;
    font-weight: bold;
    color: #e91313;
    text-shadow: 2px 2px 15px #000;
    text-align: center;
    padding: 3em;
}

.form-body {
    font-family: 'Nosifer', cursive;
    text-shadow: 2px 2px 15px #000;
    color: #e91313;
    text-align: left;
    width: 400px;
    margin: 10px auto 10px auto;
}

.submitbutton {
    background-color: #e91313;
    color: white;
    font-family: 'Nosifer', cursive;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitbutton:hover {
        background-color: #e91313;
    }

label, input, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}



/*.field-validation-valid {
    color: #cc0000;
    text-transform: uppercase;
}*/

/*.entry {
    padding: 1em;
}*/


/*.panel {
    margin: 1em;
    border: unset;
    box-shadow: #000 0 2px 3px;
}
.panel-body {
    background: rgba(0, 0, 0, 0.5);
}*/


/*a {
    color: #333;
}

a:link, a:visited, a:active, a:hover a:focus {
    color: #0026ff;
    }*/